@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="login-body">
    <div class="login-container">
        <h2>Şifremi Unuttum</h2>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label for="ReceiverEmail">E-posta Adresi</label>
                <input type="email" class="form-control" id="ReceiverEmail" name="ReceiverEmail" required />
            </div>
            
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
        <div class="mt-3">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }
        </div>
    </div>
</div>
